[submodule "IronCat/vendor/spdlog"]
	path = IronCat/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "IronCat/vendor/GLFW"]
	path = IronCat/vendor/GLFW
	url = https://github.com/TheCherno/GLFW.git
[submodule "IronCat/vendor/ImGUI"]
	path = IronCat/vendor/ImGUI
	url = https://github.com/TheCherno/imgui.git
[submodule "IronCat/vendor/IronCat/vendor/GLM"]
	path = IronCat/vendor/GLM
	url = https://github.com/g-truc/glm.git
